<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<security:http pattern="/resources/**" security="none" />

<security:http auto-config="true" use-expressions="true" >
 
<!--  <security:intercept-url pattern="/**/intro" access="hasRole('ROLE_USER')" /> -->
 <security:intercept-url pattern="/test2" access="hasRole('ROLE_ADMIN')" />
 <security:intercept-url pattern="/**" access="permitAll" />
 <security:csrf disabled="true"/>
 
 <security:form-login 
 	login-page="/member/login"
 	login-processing-url="/member/login"
 	username-parameter="id" 
 	password-parameter="pw"
 	authentication-failure-handler-ref="customAuthenticationFailureHandler"
 	authentication-success-handler-ref="customAuthenticationSuccessHandler"
 	/> 	
 
</security:http>

<security:authentication-manager>
	<security:authentication-provider user-service-ref="memberService">
		
	</security:authentication-provider>
</security:authentication-manager>

	<bean id="memberService" class="com.sparkcw.goodteam.serviceimpl.MemberServiceImpl"></bean>
	
	<bean id="customAuthenticationFailureHandler" class="com.sparkcw.goodteam.security.CustomAuthenticationFailureHandler">
		<property name="formId" value="id"></property>
		<property name="failMessage" value="failMessage"></property>
		<property name="defaultUrl" value="/member/login"></property>
		<property name="loginRedirect" value="loginRedirect"></property>
	</bean>
	
	<bean id="customAuthenticationSuccessHandler" class="com.sparkcw.goodteam.security.CustomAuthenticationSuccessHandler">
		<property name="loginRedirect" value="loginRedirect"></property>
		<property name="defaultUrl" value="/main"></property>
	</bean>
		
</beans>
